* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #181818;
  --light-black: #252525;
  --gray: #b3b3b3;
  --light-gray: #e2e2e2;
  --white: #ffffff;
  --primary: #a460f9;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: #181818;
  color: var(--white);
  overflow-x: hidden;
}
html.hamburger-open .blur-bg {
  display: block;
}
.blur-bg {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(9px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  display: none;
}
/*-----------------------------------------Classes-------------------------------------------------*/
.center {
  text-align: center;
}
.color-black {
  color: #181818;
}
.color-light-black {
  color: #252525;
}
.color-grey {
  color: #b3b3b3;
}
.color-light-grey {
  color: #e2e2e2;
}
.color-white {
  color: #ffffff;
}
.color-primary {
  color: #a460f9;
}
.background-color-black {
  background-color: #181818;
}
.background-color-light-black {
  background-color: #252525;
}
.background-color-grey {
  background-color: #b3b3b3;
}
.background-color-light-grey {
  background-color: #e2e2e2;
}
.background-color-white {
  background-color: #ffffff;
}
.background-color-primary {
  background-color: #aa60f9;
}
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-flexend {
  justify-content: flex-end;
}

.justify-content-flexstart {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.list-style {
  list-style: none;
}
.krub-200 {
  font-family: "Krub", sans-serif;
  font-weight: 200;
}
.krub-200 {
  font-family: "Krub", sans-serif;
  font-weight: 200;
}
.krub-300 {
  font-family: "Krub", sans-serif;
  font-weight: 300;
}
.krub-400 {
  font-family: "Krub", sans-serif;
  font-weight: 400;
}
.krub-600 {
  font-family: "Krub", sans-serif;
  font-weight: 600;
}
.krub-900 {
  font-family: "Krub", sans-serif;
  font-weight: 900;
}

.inline-block {
  display: inline-block;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.main-grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.main-grid-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-grid-2 {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
.main-grid-3 {
  display: grid;
  grid-template-columns: 11fr 11fr 1fr;
  margin: 15rem 0 0rem 0rem;
}
.main-grid-about {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 12rem;
  margin-left: 12rem;
}

.btn {
  border: none;
  outline: none;
  display: flex;
  width: max-content;
  font-weight: 900;
  /* transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53); */
}
.btn:hover {
  scale: 1.1;
}
a {
  transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.writing {
  writing-mode: vertical-rl;
}
.grid-css {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.block {
  display: block;
}
#transition {
  transition: all 800ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.margin {
  margin-left: auto;
  margin-right: auto;
}
