/*----------------------------------main-oval------------------------------------------------------*/
.main-oval {
  :root {
    --logo-delay: 200ms;
    --main-oval: calc(var(--logo-delay) + 2.7);
  }
  margin-bottom: 10rem;
}
.oval-heading::after {
  content: ".";
  position: absolute;
  font-size: 8rem;

  left: -22px;
}
.oval-heading {
  position: relative;
}

.oval-heading-2 {
  position: absolute;
  right: 20px;
}
.section-img {
  position: relative;
  left: 40%;
}
.img-text {
  margin-top: 5rem;
  font-size: 7rem;
}
.discover::after {
  content: ".";
  position: absolute;
  font-size: 8rem;
  left: -22px;
  top: -23px;
}
.oval-img {
  top: -8%;
  width: 600px;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  z-index: -1;
}
/*--------------------------------------RESPONSIVE-CODE--------------------------------------------*/
@media (max-width: 700px) {
  .img-text {
    margin-top: 5rem;
    font-size: 5rem;
  }

  .oval-img {
    top: 10%;
    width: 350px;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    z-index: -90;
  }
  .section-img-text {
    position: relative;
    top: -32%;
  }
}
@media (max-width: 490px) {
  .img-text {
    margin-top: 5rem;
    font-size: 3rem;
  }

  .oval-img {
    top: 10%;
    width: 250px;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    z-index: -90;
  }
  .section-img-text {
    position: relative;
    top: -32%;
  }
}
@media (max-width: 300px) {
  .img-text {
    margin-top: 5rem;
    font-size: 2rem;
  }

  .oval-img {
    top: 10%;
    width: 150px;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    z-index: -90;
  }
  .section-img-text {
    position: relative;
    top: -10%;
  }
}
/*-------------------------------animations--------------------------------------------------------*/
.main-oval {
  animation-name: slide;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-iteration-count: inherit;
  animation-delay: 2.9ms;
}
@keyframes slide {
  from {
    transform: translateX(-90px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
